@using Rozklad.Repos.Dto


@{
    Layout = "~/Views/Shared/_LayoutDashmin.cshtml";

    
}

<div class="container-fluid pt-5 px-1000">
    <form method="post">
        <input class="form-control border-2" type="text" placeholder="Search" name="search" id="object">
    </form>
    <a href="/home/index" type="submit" class=" btn btn-warning">Знайти</a>
</div>


<div class="container-fluid pt-4 px-1000">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-10 text-center">
            <div class="float-end">
                <a href="/home/create" class="btn btn-outline-primary">Додати інформацію</a>
            </div>

            <h1>Розклад руху автобусів!</h1>
            <hr />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Час Відбуття</th>
                        <th>Маршрут</th>
                        <th>Кількість місць</th>
                        <th>Перевізник</th>
                        <th>Статус</th>
                        <th>Час Прибуття</th>
                        <th>Вартість квитка</th>
                        <th>Квитки</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
                <
            </table>
        </div>
    </div>
</div>


